name: CI

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup python
      uses: actions/setup-python@v1
      with:
        python-version: '>=3.6'
    - name: Install language model 'syfertext_en_core_web_lg'
        run: |
	pip install git+git://github.com/Nilanshrajput/syfertext_en_core_web_lg@master
        echo syfertext_en_core_web_lg successfully installed
    - name: Install SyferText with test dependencies
      run: |
        pip install ".[test]"
        echo SyferText with test dependencies successfully installed.
    - name: Running tests
      run: |
        python -m pytest --black --verbose

